<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Бронирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Адрес: ' + ${adres} " />
<form action="/booking">
    <input type="hidden" name="adres" th:value="*{adres}">
    <input type="submit" value="Бронировать">
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="taxo : ${taxi}">
        <td th:text="${taxo.id}">Id</td>
        <td th:text="${taxo.number}">Name</td>
    </tr>
    </tbody>
</table>


</body>
</html>